#rollButton {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 200% !important;
}
.img-die {
  width: 128px;
  height: 128px;
}
#desc {
  color: #991f1f;
  font-weight: 600;
}

/* energy */
#energyButton {
	box-shadow: none !important;
}
.modal {
	margin-top: 50px;
}
.energyCounter {
	cursor: pointer;
	width: 24px;
	text-align: center !important;
	margin: 5px;
}